body {
  background-color: #76fac5;
  font-family: "Roboto", cursive;
  font-size: 20px;
  line-height: 2;
  max-width: 1040px;
  margin: 0 auto;
}

a {
  color:black;
  text-align: center;

}

.App-header {
  margin: 30px auto;
  text-align: center;
  line-height: 2;
  color:black;
  font-size: 48px;
  font-weight: bold;
  font-family: "Rampart One", cursive;
}

.App-logo {
  width: 100px;
}

.App-footer {
  text-align: center;
  display: block;
  color: #0d0a3d;
}
