.Meaning {
    text-align: left;
  }
  
  .Meaning h3 {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.5;
    color: black;
    font-family: "Rampart One", cursive;
  }
  
  .Meaning .example {
    color: #70757a;
    font-style: italic;
    margin-top: 10px;
    padding-left: 25px;
  }